<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="fa fa-fw fa-gift"></i> Item</h4>
        </div>
        <div class="panel-body">
            <p>{{content}}</p>
            <a href="#" class="btn btn-default">Learn More</a>
        </div>
    </div>
</div>